doctype html
html(lang='en' ng-app='app')
    head
        title first app
        base(href="/")
        meta(charset='UTF-8')
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet")
        link(href="css/vendors.css" rel="styleSheet")
        link(href="css/main.css" rel="styleSheet")

    body
        app

        script(src='js/vendors.js')
        script(src='js/app.js')