.login
    h1.login_heading Welcome

    form.form.login_form(name='login' ng-submit='$ctrl.login($ctrl.credentials)' autocomplete='off')
        label.form-label
            input.form-input(name='name' type='text' placeholder='Name' required ng-model='$ctrl.credentials.name')
            i.icon.fa.fa-user
        label.form-label
            input.form-input(nams='password' type='password' placeholder='Password' required ng-model='$ctrl.credentials.password')
            i.icon.fa.fa-lock
        button.btn.btn--success(type='submit' ng-disabled='login.$invalid') Login
    .login-error(ng-if='$ctrl.error.status') {{$ctrl.error.message}}
