header.page-header
    .container
        .row
            .col-md-12
                h1.page-header_heading Lorem Ipsum
                    p simply dummy text of the printing and typesetting industry.

.container
    .row
        .main-intro.main-intro_btn
            .col-md-12
                h2.heading.heading--dashed Posts
                button.btn.btn--success(ng-if='$ctrl.userRole == 1' ng-link='["PostCreate"]')
                    | Create New
                    i.icon.fa.fa-plus-circle

    .row
        .posts.posts_post.clearfix
            .posts-item.post-item_post-control.col-sm-6.col-md-4(ng-repeat='post in $ctrl.posts ' )
                .post-wrap
                    a.post-link(ng-if='$ctrl.userRole > 1' ng-link='["PostDetail", {page:$ctrl.currentPage,id: post.id}]')
                    h4.post-heading {{post.heading | limitTo: 100}}{{post.heading.length > 100 ? '...' : ''}}
                    .post-bg(back-img='{{post.file_path}}')

                    ul.post-control(ng-if='$ctrl.userRole == 1')
                        li.control-item
                            a.post-control_link.control-link(ng-link='["PostDetail", {page:$ctrl.currentPage,id: post.id}]')
                                i.icon.fa.fa-external-link
                        li.control-item
                            a.post-control_link.control-link(ng-link='["PostEdit", {page:$ctrl.currentPage, id: post.id}]')
                                i.icon.fa.fa-pencil-square-o
                        li.control-item
                            a.post-control_link.control-link(ng-href='#' ng-click='$ctrl.confirm($ctrl.remove(post.id,$index))')
                                i.icon.fa.fa-trash

    .row(ng-if='$ctrl.postsSum > 1')
        .col-md-12
            ul.pagin
                li.pagin-item
                    button.btn.pagin_btn(ng-disabled='$ctrl.currentPage==1' ng-click='$ctrl.goToPage(1)') First
                li.pagin-item(ng-repeat='index in $ctrl.pagination')
                    button.btn.pagin_btn(ng-class='index == $ctrl.currentPage ? "active":""' ng-click='$ctrl.goToPage(index)') {{index}}
                li.pagin-item
                    button.btn.pagin_btn(ng-disabled='$ctrl.currentPage == $ctrl.postsSum' ng-click='$ctrl.goToPage($ctrl.postsSum)') Last
confirm(callback='$ctrl.confirm')
