.post.post_post-control(ng-if='!$ctrl.behavior')
    .post-bg(back-img='{{$ctrl.post.image}}')
        .container
            .row
                .col-md-12
                    h1.post-heading {{$ctrl.post.heading}}
    .container
        .row
            .col-md-12
                .post-txt
                    p(ng-bind='$ctrl.post.text')

    .container
        .row
            .col-md-12
                a.post-back(ng-href='#' ng-click='$ctrl.goToBack()') Back
.container(ng-if='$ctrl.behavior=="edit" || $ctrl.behavior=="create"')
    .row
        .col-md-12
            h1.heading.heading--dashed {{$ctrl.behavior == 'edit' ? 'Edit' : 'Create'}} post
    .row
        form.post-form(name='postForm' ng-submit='postForm.$valid && ($ctrl.behavior == "edit" ? $ctrl.postUpdate() : $ctrl.postCreate())' novalidate)
            .col-md-9
                label
                    textarea.form-txt.form-txt--dashed.form-txt--small(name='heading' ng-model='$ctrl.post.heading' placeholder='Please enter title' required)

                    .error-message(ng-messages='postForm.heading.$error' role='alert' ng-class='(postForm.$submitted && postForm.heading.$invalid) || (postForm.heading.$touched && postForm.heading.$invalid) ? "show" : ""')
                        div(ng-message='required') You did not enter a field
                label
                    textarea.form-txt.form-txt--dashed.form-txt--big(name='text' ng-model='$ctrl.post.text' placeholder='Please enter text' required)

                    .error-message(ng-messages='postForm.text.$error' role='alert' ng-class='(postForm.$submitted && postForm.text.$invalid) || (postForm.text.$touched && postForm.text.$invalid) ? "show" : ""')
                        div(ng-message='required') You did not enter a field
                label
                    file-read(name='file' file-read-cb='$ctrl.showPrewImg' file-read-remove='true' ng-model='$ctrl.file' mime-types='["image/gif","image/jpeg","image/png","image/svg+xml"]'  ng-required='$ctrl.behavior=="create" ? true : false ')
                        .fake-input
                            i.icon.fa.fa-upload
                            | Choose a file
                            .error-message(ng-messages='postForm.file.$error' role='alert' ng-class='(postForm.$submitted && postForm.file.$invalid) || (postForm.file.$touched && postForm.file.$invalid) ? "show" : ""')
                                div(ng-message='mimeTypes') Unsupported file format


            .col-md-3
                img.img-prew(src='{{$ctrl.prewFile ? $ctrl.prewFile : $ctrl.post.image}}')
            .col-md-12.post-form_control
                button.btn.btn--success(type='submit') {{$ctrl.behavior == 'edit' ? 'Save' : 'Create'}}
                button.btn.btn--warning(type='button' ng-click='$ctrl.goToBack()') Cancel
