$gray-dark: #373a3c;
$gray-light: #e0e0e0;
$secondary-color: #232a34;
$accent-color: #ff4d5f;
$success-color: #3dd973;
$warning-color: #ff4d5f;
$light-color: #fff;

$body-bg-base: #fff;
$font-color-base: $gray-dark;
$font-base: 'Open Sans', sans-serif;
$font-size-base: 14px;

$container-lg : 100px;

